@using System.Security.Claims
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var firstName = User.FindFirst("FirstName")?.Value;
    var lastName = User.FindFirst("LastName")?.Value;
    var userFullName = $"{firstName} {lastName}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css">
    @RenderSection("Styles", required: false)
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-page="/Admin/Dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-hotel"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Hotel Admin</div>
            </a>

            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" asp-page="/Admin/Dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">Quản Lý</div>

            <li class="nav-item">
                <a class="nav-link" asp-page="/Roles/Index">
                    <i class="fas fa-calendar-check"></i>
                    <span>Phân quyền</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Branches/Index">
                    <i class="fas fa-calendar-check"></i>
                    <span>Chi nhánh</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">Khách sạn</div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRevenue"
                   aria-expanded="true" aria-controls="collapseRevenue">
                    <i class="fas fa-money-bill"></i>
                    <span>Cấu hình khách sạn</span>
                </a>
                <div id="collapseRevenue" class="collapse" aria-labelledby="headingRevenue" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-page="/Floors/Index">Danh sách tầng</a>
                        <a class="collapse-item" asp-page="/RoomTypes/Index">Danh sách loại phòng</a>
                        <a class="collapse-item" asp-page="/Rooms/Index">Danh sách phòng</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" asp-page="/DynamicPricing/Index">
                    <i class="fas fa-money-bill"></i>
                    <span>Giá theo thời điểm</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" asp-page="/Booking/Index">
                    <i class="fas fa-money-bill"></i>
                    <span>Quản lý đặt phòng</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End Sidebar -->

        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="text-center my-auto">
                <span>Copyright &copy; Hotel Booking 2024</span>
            </div>
        </div>
    </footer>
    </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
